/* Exit.css */
.exit {
    text-align: center;
    padding: 20px;
  }
  

  .exit-drug{
    display: flex;
    align-items: center;
    color: red;
    font-size: 45px;
    flex-direction: column;
    padding: 40px;
    height: 200vh;
  }
  
  button {
    padding: 30px 40px;
    margin: 10px;
    background-color: darkred; /* Change the button background color */
    color: #fff; /* Change the button text color */
    border: none;
    border-radius: 4px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;

  }
  
  button:hover {
    background-color: #0056b3; /* Change the button background color on hover */
  }
  