/* Style for the side buttons */
.side-buttons {
  display: flex;
  flex-direction: row; /* Stack the buttons vertically */
  row-gap: 500px; /* Add space between buttons */
  column-gap: 500px;/* Add space between buttons */ 
 
}

.side-button {
  padding: 30px 30px;
  background-color: lightgray;
  color: black;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-bottom: 1cm; /* Add a 1cm gap below each button */
  text-decoration: none; /* Remove underlines on buttons */
  margin-right: 2cm;
  
}



.side-button:hover {
  background-color: darkgray;
}
  .view-drug {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
.label{
  font-size: 30px;
}


.details {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
  .filter-button {
    width: 25cmm;
    height: 3cm;
    padding: 50px 50px;
    font-size: 35px;
    background-color: darkred;
    color: black;
    border: none;
    cursor: pointer;
    text-decoration: none;

  }
  
  /* Style for the store data table */
  .store-table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 2cm;
  }
  
  .store-table th {
    background-color: lightgray;
    color: black;
    font-weight: bold;
    padding: 10px;
    margin: 1cm; /* Add margin to the th elements */
  }
  
  .store-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: lightgray;
    color: black;
    margin: 1cm; 
      }

  .view-drug{
    display: flex;
    align-items: center;
    color: red;
    font-size: 45px;
    flex-direction: column;
    padding: 40px;
    height: 200vh;
    }
    
    .select-buttons {
      display: flex;
      gap: 1cm; /* Reduce the horizontal gap */
      color: black;
      width: 25cmm;
      height: 3cm;
      padding: 70px 50px;
      font-size: 40px;
      column-gap: 3cm;
    }
    
    .image-container {
      padding-top: 100px; /* Adjust the value as needed for the desired padding */
    }
    
    .select-box{
    width: 9cm;
    height: 2cm;
    padding: 50px 50px;
    font-size: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0;
    background-color: darkred
    }

  